/* MOBILE VIEW */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* HEADER FUNCTIONS */

header {
    background-image: url(https://media4.giphy.com/media/3og0ISzBpn0nNJE3Ac/giphy.gif);
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 50px;
    color: white;
}

.icons-social-media-header {
    position: absolute;
    display: flex;
    top: 50px;
    right: 40px;
}

.header-all {
    justify-content: space-evenly;
    position: relative;
    text-align: left;
    display: flex;
    padding-top: 140px;
    flex-direction: row;
}

.portfolio {
    font-size: x-small;
    text-align: left;
    top: 50p;
    padding-left: 30px;
}

.name {
    font-size: x-small;
    text-align: center;
    font-weight: bold;
    padding-right: 80px;
}

.job-title {
    position: relative;
    text-align: left;
    display: flex;
    padding-bottom: 120px;
    padding-left: 40px;
    flex-direction: column;
    line-height: 0;
}

.job-title h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 35px;
    margin-block-start: 10px;
    margin-block-end: 15px;
}

.job-title h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 0px; 
    margin-block-end: 5px;
}

.picture-of-dess {
    width: 170px;
    border-radius: 50%;
    border: 3px solid white;
    right: 30px;
    top: 320px;
    position: absolute;
}

/* ABOUT ME  */

.about-me-section {
    padding: 40px;
    background-color: #eeecda;
    justify-content: space-around;
}

.about-me-section p {
    margin-block-start: auto;
    display: inline;
}

.red-thing-container {
   display: inline-block;
}

.red-thing {
    display: flex;
    align-items: flex-end;
    shape-outside: inset(50%);
    margin-bottom: 12px;    
}

.long {
    margin-bottom: auto;
    width: 40px;
    height: 3px;
    border-radius: 10px;
    background: #f08a5d;
}

.circle {
    margin-right: 15px;
    margin-left: -2px;
    margin-top: -4px;
    width: 10px;
    height: 10px;
    background: #f08a5d;
    border-radius: 50%;
}

/* TECH  */

.tech-section {
    padding: 40px;
    text-align: center;
}

.tech-text-top {
    padding: 15px;
    border-bottom: 2px solid #f08a5d;
}

/* RED-WHITE TEXT TITLE  */

.red-white-title {
    color: #fff;
    background-color: #b83b5e;
    text-align: center;
}

/* FEATURED PROJECTS  */

.featured-projects-section {
    padding: 40px;
    background-color: #eeecda;
}

.project-weather-app {
    padding-bottom: 50px;
}

.project-business-app {
    padding-bottom: 60px;
}

.other-projects {
    padding-bottom: 20px;
}

.featured-projects-text {
    display: -webkit-box;
    text-align: center;
    font-size: 13px;
    justify-content: space-around;
    text-align: left;
}

.featured-projects-text p {
    text-decoration: none;
}

.tags {
    display: flex;
    justify-content: space-around;
}

.tags p {
    font-size: 10px;
    text-align: center;
    width: 65px;
    color: white;
}

/* MY THOUGHTS  */

.my-thoughts-section {
    padding: 40px;
}

.my-thoughts-text {
    text-align: left;
    padding-bottom: 30px;
}

.my-thoughts-text p {
    margin-block-start: auto;
    margin-block-end: auto;
}

.my-thoughts-text h2 {
    margin-block-start: auto;
    margin-block-end: auto;
}

.more-thoughts-section {
    display: -webkit-box;
    text-align: center;
    font-size: 13px;
    justify-content: space-around;
    text-align: left;
}

/* SKILLS LIST  */

ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.skills-section {
    padding: 40px;
    background-color: #eeecda;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    
}


.skills-lists-all {
    justify-content: space-around;
    font-size: 13px;
    text-align: center;
}

.list-of-skills-1 {
    width: 40%;
    padding: 10px;
    display: inline-table;
}

.list-of-skills-2 {
    width: 40%;
    padding: 8px;
    display: inline-table;
}

.list-of-skills-1 h2, .list-of-skills-2 h2 {
    color: #b83b5e;
    font-size: 18px;
}

/* FOR MORE  */

.for-more-section {
    background-color: #f08a5d;
    padding: 60px;
    align-items: center;
    text-align: center;
}

/* FOOTER  */

footer {
    background-color: #6a2c70;
    padding: 60px;
    text-align: center;
    color: white;
}