/* MOBILE VIEW */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* HEADER CONTAINER WITH PIC, TITLE, TEXT and ICONS */

header {
    background-image: url(https://media4.giphy.com/media/3og0ISzBpn0nNJE3Ac/giphy.gif);
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 50px;
    color: white;
}

.icons-social-media-header {
    position: absolute;
    display: flex;
    top: 50px;
    right: 40px;
}

.header-all {
    justify-content: space-evenly;
    position: relative;
    text-align: left;
    display: flex;
    padding-top: 140px;
    flex-direction: row;
}

.portfolio {
    font-size: x-small;
    text-align: left;
    top: 50p;
    padding-left: 30px;
}

.name {
    font-size: x-small;
    text-align: left;
    font-weight: bold;
    padding-right: 80px;
}

.job-title {
    position: relative;
    text-align: left;
    display: flex;
    padding-bottom: 120px;
    padding-left: 40px;
    flex-direction: column;
    line-height: 0;
}

.job-title h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 35px;
    margin-block-start: 10px;
    margin-block-end: 15px;
}

.job-title h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 0px;
    margin-block-end: 5px;
}

.picture-of-dess {
    width: 170px;
    border-radius: 50%;
    border: 3px solid white;
    right: 30px;
    top: 330px;
    position: absolute;
}

/* ABOUT ME  */

.about-me-section {
    padding: 50px;
    background-color: #eeecda;
    justify-content: space-around;
}

.about-me-section p {
    margin-block-start: auto;
    display: inline;
}

/* RED LITTLE THING / STICK + CIRCLE */

.red-thing-container {
    display: inline-block;
}

.red-thing {
    display: flex;
    align-items: flex-end;
    shape-outside: inset(50%);
    margin-bottom: 12px;
}

.stick {
    margin-bottom: auto;
    width: 40px;
    height: 3px;
    border-radius: 10px;
    background: #f08a5d;
}

.circle {
    margin-right: 15px;
    margin-left: -2px;
    margin-top: -4px;
    width: 10px;
    height: 10px;
    background: #f08a5d;
    border-radius: 50%;
}

/* TECH  */

.tech-section {
    padding: 40px;
    text-align: center;
}

.tech-text-top {
    padding: 15px;
}

/* RED-WHITE TEXT TITLE  */

.text-title {
    color: #fff;
    background-color: #b83b5e;
    text-align: center;
}

/* TEXT COLOR  */
.color {
    color: #b83b5e;
}

/* FEATURED PROJECTS  */

.featured-projects-section {
    padding: 40px;
    background-color: #eeecda;
}

.project-weather-app {
    padding-bottom: 50px;
    align-content: center;
}

.project-business-app {
    padding-bottom: 60px;
}

.other-projects {
    padding-bottom: 20px;
}

.featured-projects-text {
    display: -webkit-box;
    text-align: center;
    font-size: 13px;
    justify-content: space-around;
}

.featured-projects-text p {
    text-decoration: none;
}

.tags {
    display: flex;
    justify-content: space-around;
}

.tags p {
    font-size: 10px;
    text-align: center;
    width: 65px;
    color: white;
}

.tags-color {
    background-color: #f08a5d;
}

/* MY THOUGHTS  */

.my-thoughts-section {
    padding: 40px;
}

.my-thoughts-text {
    text-align: left;
    padding-bottom: 30px;
}

.my-thoughts-text p {
    margin-block-start: auto;
    margin-block-end: auto;
}

.my-thoughts-text h2 {
    margin-block-start: auto;
    margin-block-end: auto;
}

.more-thoughts-section {
    display: -webkit-box;
    text-align: center;
    font-size: 13px;
    justify-content: space-around;
    text-align: left;
}

/* SKILLS LIST  */

ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.skills-section {
    padding: 40px;
    background-color: #eeecda;
    text-align: center;
    margin: auto;
    justify-content: space-around;
}

.skills-lists-all {
    justify-content: space-around;
    font-size: 13px;
    text-align: center;
}

.list-of-skills-1 {
    width: 40%;
    padding: 10px;
    display: inline-table;
}

.list-of-skills-2 {
    width: 40%;
    padding: 8px;
    display: inline-table;
}

.list-of-skills-1 h2, .list-of-skills-2 h2 {
    color: #b83b5e;
    font-size: 18px;
}

/* FOR MORE  */

.for-more-section {
    background-color: #f08a5d;
    padding: 60px;
    align-items: center;
    text-align: center;
}

/* FOOTER  */

footer {
    background-color: #6a2c70;
    padding: 60px;
    text-align: center;
    color: white;
}

/* MEDIA QUERIES / TABLET VIEW  */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    header {
        background-image: url(/images/backgrund.gif);
        background-size: cover;
        width: 100%;
        height: 340px;
    }

    .header-all {
        padding-top: 80px;
    }
    .icons-social-media-header {
        position: absolute;
        display: flex;
        top: 40%;
        right: 16%;
    }
    .portfolio {
        font-size: medium;
        padding-left: 15%;
    }
    .name {
        font-size: medium;
        padding-right: 34%;
    }
    .job-title h2 { 
        font-size: 60px;
        line-height: 45px;
        padding-left: 10%;
    }
    .job-title h3 {
        font-size: 23px;
        line-height: 2px;
        padding-left: 10%;
    }

    .picture-of-dess {
        width: 200px;
        right: 10%;
        top: 55%;
    }
    
    .about-me-section {
        background-color: #fcdada;
        padding-left: 10%;
        padding-right: 10%;
    }
    .featured-projects-section {
        background-color: #fcdada;
    }
    .skills-section {
        background-color: #fcdada;
    }
    .for-more-section {
        background-color: #5c969e;
    }
    footer {
        background-color: #3d7ea6;
    }
    .text-title {
        color: #fff;
        background-color: #ffa5a5;
    }
    .project-weather-app {
        padding-left: 5%;
        padding-right: 0%;
        padding-bottom: 50px;
        display: inline-block;
        flex-direction: row;
    }
    .project-business-app {
        padding-left: 5%;
        padding-right: 0%;
        padding-bottom: 60px;
        display: inline-block;
        flex-direction: row;
    }
    .project-cluedo {
        padding-left: 30%;
        display: inline-block;
        flex-direction: row;
    }
    .project-food {
        padding-left: 30%;
        display: inline-block;
        flex-direction: row;
    }
    .blog {
        padding-left: 30%;
        padding-right: 30%;
        display: inline-block;
        flex-direction: row;
    }
    .more-thoughts-section {
        padding-left: 30%;
        padding-right: 30%;
    }
    .my-thoughts-text p {
        color: #5c969e;
    }
    .more-thoughts p {
        
        color: #5c969e;
    }
    .list-of-skills-1 h2, .list-of-skills-2 h2 {
        color: #5c969e;
        font-size: 18px;
    }

    .color {
        color: #5c969e;
    }

    .tags-color {
        background-color: #3d7ea6;
    }

    .tech-text-top {
        padding-left: 40px;
        padding-right: 40px;
        
    }

    .stick {
        background: #3d7ea6;;
    }
    
    .circle {
        background: #3d7ea6;;
    }
}

/* MEDIA QUERIES / WEBSITE VIEW */

@media only screen and (min-device-width: 1024px) {

    header {
        background-image: url(/images/backgrund.gif);
        background-size: cover;
        width: 100%;
        height: 400px;
       
    }
    .icons-social-media-header {
        position: absolute;
        display: flex;
        top: 50%;
        right: 21%;
    }
    .portfolio {
        font-size: medium;
        padding-left: 12%;
    }
    .name {
        font-size: medium;
        padding-right: 47%;
    }
    .job-title h2 { 
        font-size: 80px;
        line-height: 60px;
        padding-left: 10%;
    }
    .job-title h3 {
        font-size: 25px;
        line-height: 2px;
        padding-left: 10%;
    }

    .picture-of-dess {
        width: 200px;
        right: 16%;
        top: 60%;
    }
    
    .about-me-section {
        padding-top: 7%;
        background-color: #fcdada;
        padding-left: 22%;
        padding-right: 22%;
        padding-bottom: 7%;
    }

    .tech-text-top {
        border-left: 20%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .featured-projects-section {
        background-color: #fcdada;
    }
    .skills-section {
        background-color: #fcdada;
    }
    .for-more-section {
        background-color: #5c969e;
    }
    footer {
        background-color: #3d7ea6;
    }
    .text-title {
        color: #fff;
        background-color: #ffa5a5;
    }
    .project-weather-app {
        padding-left: 12%;
        padding-right: 0%;
        padding-bottom: 50px;
        display: inline-block;
        flex-direction: row;
    }
    .project-business-app {
        padding-left: 12%;
        padding-right: 0%;
        padding-bottom: 60px;
        display: inline-block;
        flex-direction: row;
    }
    .project-cluedo {
        padding-left: 30%;
        display: inline-block;
        flex-direction: row;
    }
    .project-food {
        padding-left: 30%;
        display: inline-block;
        flex-direction: row;
    }
    .blog {
        padding-left: 30%;
        padding-right: 30%;
        display: inline-block;
        flex-direction: row;
    }
    .more-thoughts-section {
        padding-left: 30%;
        padding-right: 30%;
    }
    .my-thoughts-text p {
        color: #5c969e;
    }
    .more-thoughts p {
        
        color: #5c969e;
    }
    .list-of-skills-1 h2, .list-of-skills-2 h2 {
        color: #5c969e;
        font-size: 18px;
    }

    .color {
        color: #3d7ea6;
        font-weight: bolder;
    }

    .tags-color {
        background-color: #3d7ea6;
    }

    .stick {
        background: #3d7ea6;;
    }
    
    .circle {
        background: #3d7ea6;;
    }


}